* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html {
	font-size: 16px;
	font-weight: 400;
	font-family: 'MacPaw Fixel', sans-serif;
	background-color: #000;
	line-height: 18px;
	color: #fff;
}

.wrapper {
	position: relative;
	overflow: hidden;
}

.container {
	max-width: 1440px;
	padding: 0 16px;
	margin: 0 auto;
}

.logo {
	display: inline-block;
	max-width: 80px;

	@media (width>=744px) {
		max-width: 148px;
	}
}

.icon-lg {
	height: 100px;
	object-fit: contain;
}

a {
	color: #fff;
	text-decoration: none;
}

img {
	display: block;
	width: 100%;
	object-fit: cover;
	height: auto;
}

p,
ul,
ol,
figure {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.select {
	background-color: #000;
	color: #fff;
	outline: none;
	padding: 5px;
	font-size: 18px;
	font-weight: 900;
	border: transparent;
	height: 46px;
}

.option {
	outline: none;
	border: none;

	&:checked {
		background-color: #a40806;
	}
}
