@font-face {
	font-family: 'FixelText';
	src: url('/fonts/FixelText-Black.woff2') format('woff2');
	font-weight: 900;
}
@font-face {
	font-family: 'FixelText';
	src: url('/fonts/FixelText-Bold.woff2') format('woff2');
	font-weight: 700;
}
@font-face {
	font-family: 'FixelText';
	src: url('/fonts/FixelText-Light.woff2') format('woff2');
	font-weight: 300;
}
@font-face {
	font-family: 'FixelText';
	src: url('/fonts/FixelText-Medium.woff2') format('woff2');
	font-weight: 500;
}
@font-face {
	font-family: 'FixelText';
	src: url('/fonts/FixelText-Regular.woff2') format('woff2');
	font-weight: 400;
}
@font-face {
	font-family: 'FixelText';
	src: url('/fonts/FixelText-SemiBold.woff2') format('woff2');
	font-weight: 600;
}
@font-face {
	font-family: 'FixelText';
	src: url('/fonts/FixelText-Thin.woff2') format('woff2');
	font-weight: 100;
}