.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 44px;
	max-width: 600px;
}

.select {
	background-color: #000;
	color: #fff;
	outline: none;
	padding: 5px;
	font-size: 18px;
	font-weight: 900;
	border: transparent;
	height: 46px;
}

.option {
	outline: none;
	border: none;

	&:checked {
		background-color: #a40806;
	}
}

.label {
	width: 100%;

	&-checkbox {
		display: flex;
		align-items: start;
		gap: 14px;
		font-size: 18px;
		font-weight: 400;
		line-height: 24.84px;
		color: #fcfbf9;
	}
}

.input,
.textarea {
	border: 2px solid #a40806;
	background-color: transparent;
	width: 100%;
	height: 80px;
	outline: none;
	color: #fff;
	text-align: center;
	font-size: 18px;

	&::placeholder {
		font-size: 24px;
		font-weight: 400;
		line-height: 44.16px;
		color: #fff;
	}

	&:focus {
		background-color: #a40806;

		&::placeholder {
			color: transparent;
		}
	}
}

.checkbox {
	position: absolute;
	width: 1px;
	height: 1px;
	opacity: 0;
	pointer-events: none;

	&-custom {
		width: 38px;
		height: 38px;
		border: 2px solid #a40806;
		background-color: transparent;
		position: relative;
		transition: background-color 0.3s, border-color 0.3s;

		&::after {
			content: '';
			position: absolute;
			left: 14px;
			top: 10px;
			transform: rotate(45deg);
			width: 6px;
			height: 10px;
			border: solid #fff;
			border-width: 0 2px 2px 0;
			opacity: 0;
			transition: opacity 0.3s;
		}
	}

	&-descr {
		flex: 1;
	}
}

.label-checkbox input[type='checkbox']:checked + .checkbox-custom {
	background-color: #a40806;
	border-color: #a40806;
}

.label-checkbox input[type='checkbox']:checked + .checkbox-custom::after {
	opacity: 1;
}

.textarea {
	height: 200px;
	resize: none;
	padding: 10px;
}
