.hero {
	position: relative;
	height: 100vh;
	background: url('/images/hero-bg.png') 0 0 / cover no-repeat;
	overflow: hidden;

	&-model {
		height: 100%;
		width: max-content;
		z-index: 2;
		position: absolute;
		top: 20px;
		left: 50%;
		transform: translateX(-50%);
	}

	&-logo {
		width: 414px;
		position: absolute;
		top: 100px;
		left: 50%;
		transform: translateX(-50%);
	}

	&-title {
		font-size: 32px;
		font-weight: 700;
		line-height: 44.16px;
	}

	&-content {
		position: absolute;
		bottom: 60px;
		left: 0;
		right: 0;
		z-index: 3;
		display: flex;
		flex-direction: column;
		gap: 23px;
		align-items: center;
		justify-content: center;
		width: 100%;
		background-color: rgba($color: #111, $alpha: 0.05);
		-webkit-backdrop-filter: blur(50px);
		backdrop-filter: blur(50px);
		padding: 23px;

		@media (width>=992px) {
			bottom: 120px;
		}
	}

	
}
